**1.Explain the key Features of python that makes it a popular programming choice for programming.**

Python is a programming language that is easy to understand and write, making it a popular choice among developers and programmers. It is compatible with various programming paradigms, such as procedural, object-oriented, and functional programming. Python has a large and active community of developers, an extensive standard library, and third-party packages for various domains.

**2. Describe the role of predefined keywords in python and provide examples of how they are used in a program**

Predefined keywords in Python are reserved words that have special meanings and cannot be used for variable names. They play crucial roles in defining the structure and control flow of a program. example :- if , else , elif.
example of usage :-

In [2]:
x = 9
if x > 10:
    print("x is greater than 10")
else:
    print("x is less than 10")

x is less than 10

**3. Compare and contrast mutable and immutable objects in python with examples.**

immutable objects are the objects that can be changed after creation. example tuples

In [3]:
my_tuple = (1, 2, 3)
my_tuple[0] = 4  # This will raise a TypeError

TypeError: 'tuple' object does not support item assignment

mutable objects are the objects that can be changed after creation examples are list , set , dictionaries

In [4]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3, 4]

**4. Discuss the different types of operators in Python and provide examples of how they are used.**

Arithmetic Operators: Perform mathematical operations.
+ (Addition), - (Subtraction), * (Multiplication), / (Division)

In [5]:
a = 5 + 3  # 8
a

8

Comparison Operators: Compare two values.

== (Equal), != (Not Equal), >, <, >=, <=

In [7]:
a = 5
b = 1
if a > b:
    print("a is greater than b")

a is greater than b

Logical Operators: Combine conditional statements.

and, or, not

In [8]:
a = 11
b= 15
if a > 10 and b < 20:
    print("Condition met")

Condition met

Assignment Operators: Assign values to variables.

=, +=, -=, *=, /=

In [9]:
a = 0
a += 5  # equivalent to a = a + 5
a

5

**5. Explain the concept of type casting in Python with examples.**

Type casting is the conversion of one data type into another. Python supports several built-in functions for this.

In [12]:
from pickle import STRING

a = int("10")  # Converts string "10" to integer 10
b= float("10.5")
c = str(10)  # Converts integer 10 to string "10"

**6. How do conditional statements work in Python? illustrate with examples.**

Conditional statements allow you to execute code blocks based on certain conditions.

In [13]:
#if statement
x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [15]:
#if else
x = 10
if x > 15:
    print("x is greater than 15")
else:
    print("x is 15 or less")

x is 15 or less

In [16]:
#if elif else
x = 10
if x > 15:
    print("x is greater than 15")
elif x > 5:
    print("x is greater than 5 but less than or equal to 15")
else:
    print("x is 5 or less")

x is greater than 5 but less than or equal to 15

**7. Describe the different types of loops in Python and their use cases with examples.**

for Loop: Used to iterate over a sequence (e.g., list, tuple, string) or range of numbers.

In [17]:
for i in range(5):
    print(i)  # Outputs 0, 1, 2, 3, 4

0
1
2
3
4

while Loop: Repeats as long as a condition is true.

In [18]:
i = 0
while i < 5:
    print(i)
    i += 1  # Outputs 0, 1, 2, 3, 4

0
1
2
3
4

nested Loops: Loops inside another loop.

In [19]:
for i in range(3):
    for j in range(2):
        print(i, j)

0 0
0 1
1 0
1 1
2 0
2 1

break and continue: Control the loop execution.

In [20]:
for i in range(5):
    if i == 3:
        break  # Exits the loop when i is 3
    print(i)

for i in range(5):
    if i == 3:
        continue  # Skips the rest of the loop when i is 3
    print(i)

0
1
2
0
1
2
4